.comment-filed{
	width:640px;
	margin:0 auto;
}

.comment-num{
	text-align: right;	
	font-size:14px;
}
.div-txt-submit{
	text-align:right;
	margin-top:8px;
	
}

.comment-submit{
	background-color:#63B8FF;
	margin-top:15px;
	text-decoration:none;
	color:#fff;
	padding:5px;
	font-size:14px;
}

.txt-commit{
	border:1px solid blue;
	width:620px;
	height: 60px; 
	padding: 10px;
}

.txt-reply{
	width: 100%; 
	height: 60px;
}



.comment-filed-list{
	margin-top:20px;
}

.comment-list{
	margin-top:2px;
	width:herit;
	height:50px;
	border-top:1px solid gray;
}

.comment-ul{
	list-style:none;
	padding-left:0;
}

.head-pic{
	width:40px;
	height:40px;	
}

.cm{
	position:relative;
	top:0px;
	left:40px;
	top:-40px;
	width:600px;
}

.cm-header{
	padding-left:5px;
}

.cm-content{
	padding-left:5px;
}

.cm-footer{
	padding-bottom:15px;
	text-align:right;
	border-bottom: 1px dotted #CCC;
}

.comment-reply{
	text-decoration:none;
	color:gray;
	font-size: 14px;
}

.children{
	list-style:none;
	background-color:#FAFAFA;
	padding-left:0;
	margin-left:40px;
}

.children-cm{
	position:relative;	
	left:40px;
	top:-40px;
	width:90%;
}

